# Token du bot, récupéré sur https://discord.com/developers/applications
DISCORD_TOKEN=

# Intervalle de vérification des flux RSS en minutes (défaut : 15)
CHECK_INTERVAL_MINUTES=15

GOOGLE_TRANSLATE_API_KEY=
